
.cartItem{
    border-bottom: 1px solid #fde4e4;
    padding-bottom: 10px;
}

.cartItemInfo img{
    object-fit: cover;
    width: 35px;
    height: 35px;
}

.cartProductTitle{
    font-size: 0.8rem;
    font-weight: 600;
}

.cartProductPrice{
    font-size: 0.8rem;
}

.cartProductPrice span{
    font-size: 0.9rem;
    color: #df2020;
    font-weight: 600;
}

.PlusMinusSection{
    border-radius: 5px;
    background: #fde4e4;
    padding: 2px 5px;
}

.increaseBtn, .decreaseBtn{
    cursor: pointer;
}

.deleteBtn{
    font-weight: 600;
    font-size: 1.1rem;
}