
th{
    text-align: center;
}

.cartImageContainer{
    width: 80px;
}

.cartImageContainer img{
    width: 100%;
}

.dltCartItem i{
    cursor: pointer;
}

.cartPageBtns button a:hover{
    color: white;
}

.cartSubtotal{
    font-size: 1.5rem;
    color: #df2020;
}

@media only screen and (max-width: 768px){
    th,td{
        font-size: .8rem;
    }
}