
.footer{
    background: #fde4e4;
    padding-bottom: 30px;
    padding-top: 50px;
}

.footerLogo img{
    margin-bottom: 5px;
    width: calc(100% - 80%);
}

.footerLogo h5{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 15px
}

.footerLogo p{
    line-height: 28px;
    font-size: 0.9rem;
    color: #333;
}

.deliveryTimeItem{
    background: transparent !important;
}

.deliveryTimeItem span{
    color: #212245;
    font-size: 1rem;
    font-weight: 600;
}

.deliveryTimeItem p{
    color: #212245;
}

.footerTitle{
    font-size: 1.1rem;
    font-weight: 600;
    color: #212245;
}

.newsletter{
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 1px solid #212245;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.newsletter input{
    background: transparent;
    outline: none;
    border: none;
}

.newsletter input:focus{
    outline: none;
}

.newsletter span{
    border-radius: 5px;
    padding: 5px 30px;
    background: #df2020;
}

.newsletter span:active{
    transform: scale(0.5);
    transition: 0.2s ease-in-out all;
}

.newsletter span i{
    color: #fff;
}

.newsletter input::placeholder{
    color: #212245;
}

.socialLinks span i{
    color: #fff;
    background: #df2020;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.copyrightText{
    font-size: 0.8rem;
    font-weight: 600;
}

.copyrightText span{
    color: #df2020;
}
@media only screen and (max-width: 992px) {
    .newsletter input {
        font-size: .7rem;
        padding: 7px;
    }

    .newsletter span{
        font-size: 0.7rem;
        padding: 4px 20px;
    }
}
@media only screen and (max-width: 768px) {
    .footerTitle{
        font-size: 0.8rem;
    }

    .deliveryTimeItem span{
        font-size: 0.8rem;
    }

    .deliveryTimeItem p{
        margin-bottom: 0;
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 576px) {
    
    .copyrightText{
        text-align: center;
    }
    .socialLinks{
        justify-content: center;
    }

    .socialLinks p{
        font-size: 0.8rem;
    }

    .socialLinks span {
        padding: 4px;
    }

    .socialLinks span a{
        font-size: 0.7rem;
    }
}