
.heroTitle{
    line-height: 55px;
    font-size: 2.5rem;
}

.heroContent{
    padding-top: 70px;
}

.heroTitle span{
    color: #df2020;
}

.heroContent p {
    color: #777;
    font-size: 1rem;
    line-height: 30px;
}

.heroBtns button {
    cursor: pointer;
    border-radius: 5px;
    padding: 7px 20px;
    outline: none;
    border: none;
    font-weight: 600;

}

.orderBtn{
    color: #fff;
    transition: 0.3s;
    background: #df2020;
}

.orderBtn:hover{
    background: #212245;
}

.allFoodsBtn{
    border: 1px solid #df2020 !important;
    background: transparent;
}

.allFoodsBtn a{
    color: #df2020;
}

.heroService p{
    font-size: 0.9rem;
    color: #212245;
    font-weight: 600;
}

.shippingIcon i {
    color: #fff;
    font-weight: 500 !important;
    background: #df2020;
    border-radius: 50%;
    padding: 5px;
    margin-right: 4px;
}